/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/Components/home.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.home_nav__7cyVA {
	transition: all 0.3s ease-in-out;
	width: 100dvw;
	height: 100dvh;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.home_navhidden__Lc287 {
	transform: translateX(100%);
}

@media (min-width: 768px) {
	.home_nav__7cyVA {
		position: relative;
		width: -moz-max-content;
		width: max-content;
		background: transparent;
		height: 100%;
		flex-direction: row;
	}

	.home_navhidden__Lc287 {
		transform: translateX(0);
	}
	.home_navtoggle__XYTkk {
		display: none;
	}
}

